#deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: amazon-doings-deployment
  namespace: default
  labels:
    app: amazon-doings-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: amazon-doings-app
      tier: frontend
      version: 1.0.0
#pod tempalte
  template:
    metadata:
      labels:
        app: amazon-doings-app
        tier: frontend
        version: 1.0.0
    spec: # Pod spec
      containers:
      - name: amazon-doings-container
        image: doingsllc/amazon-clone:24
        ports:
        - containerPort: 3000
        
        
---
apiVersion: v1
kind: Service
metadata:
  name: amazon-doings-service
  labels:
    app: amazon-doings-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: amazon-app
